body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-family: "Roboto";
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

img {
  height: 90px;
  width: 90px;
}

.hero-container {
  margin: 0;
  padding: 0 130px;
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 80px;
}

.about div {
  flex: 1;
}

.about img {
  width: 580px;
  min-height: 259px;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  border: none;
  color: white;
  font-weight: bold;
  font-family: "Roboto";
  padding: 6px 20px;
  border-radius: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-header-txt {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 30px;
}

.content-body {
  width: 150px;
  justify-content: center;
  text-align: center;
}

.content-body img {
  width: 100%;
  margin-bottom: 8px;
}

.qoute-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qoute {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.qoute .author {
  display: flex;
  justify-content: flex-end;
}

.invitation-container {
  display: flex;
  justify-content: center;
}

.invitation-container .invitation {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 800px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
}